pandas
streamlit>=1.29.0
streamlit-chat
streamlit_option_menu
altair>=5.0.0
plotly
yt-dlp
numpy
matplotlib
google-generativeai
google-api-core
google-api-python-client
google-auth
requests
pillow
tqdm
pydantic
protobuf
